<h1><%= @product.name %></h1>
<h3><%= number_to_currency(@product.price) %></h3>
<p>Sku: <%= @product.sku %></p>
<div>
  <%= @product.description %>
</div>

<%= link_to('Back to all products', products_path) %>
